<div class="container" style="margin-top:5em">
<h1>Your Cart: <%= pluralize @carted.size, "item" %></h1>
  <div class="row">

  <table class="cart-list" style= "width: 90%">
    <tbody>
        <% grand = [] %>

    <% @carted.each do |record| %>
      <tr>
          <div>
          <a href='/records/<%=record.id%>'>

        <td class="details" style= "font-size: 25px;">
            <%= record.name %>
            <% orderids << order.id %>

        </td>
        </a>
        </div>
        <td class="quantity" style="font-size: 25px;">
          <%= humanized_money_with_symbol(record.price_cents) %>
          <% @price = (record.price_cents) %>
          <% grand << @price %>
        </td>
        <td class="total">

        </td>
         <td>

         </td>
      </tr>

    <% end %>

      </tbody>
  </table>
  </div>
  <div style= "display:flex; justify-content: flex-end; font-size: 30px;">
   total: <% sum = 0 %>
   $<%=  grand.inject(0){|sum, x| sum + x } %>
   </div>






  <%= link_to 'Back to Records', records_path %>

</div>
