
<div class="main" style="margin-top:6em;">
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div style="width:100%">
            <div style="font-size: 2.5em">House</div>
    <a class="sidebar" style="color:black; width: 100%; " href="/records/disco">Disco</a>
    <br>
    <a class="sidebar" style="color:black " href="/records/soul">Soul</a>
    <br>
    <a class="sidebar" style="color:black " href="/records/techno">Techno</a>
    <br>
    <a class="sidebar" style="color:black " href="/records/deephouse">Deep House</a>
     <br>
    <a class="sidebar" style="color:black " href="/records/funk">Funk</a>
    <br>
    <a class="sidebar" style="color:black " href="/records/electro">Electro</a>
    <br>
    <a class="sidebar" style="color:black " href="/records/ambient">Ambient</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
<div class="records-display">
<% @found = Record.where(genre: "House") %>
<div style="display:block; width:100%;"><%= @found.count %> results</div>

<% @found.each do |record| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left:5px; padding-right:5px;">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class="imag myImg" style= "height: 100%; width: 100%;">
    <div class="overlay">
       <img src="http://i.imgur.com/4bCsEu8.png" class='text' style="height: 75px; width: 75px;">
    </div>
   </div>
   <div class="row">
  <div class="card-body munch col-9" style="font-size:30px;">

  <p style="width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= record.artist rescue nil%></p>
  <h2 style="width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  "><%= record.name rescue nil%></h2>
  </div>
  <!-- <div class="col-3">
  <span style="display:flex; justify-content:flex-end;"><%= humanized_money_with_symbol(record.price_cents) %></span>
  </div> -->
  </div>
   </a>
  </div>
  <% end %>



</div>
</div>
<!--  <div style="text-align: center; font-size: 25px;">

</div> -->

</div>
</div>
