
<div class="main" style="margin-top:7.5em;">
<div style="margin-top:2.5em;">

<div style="border-radius:5px;" class="hidden-xs">
<iframe src="https://snapwidget.com/embed/459159" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border-radius: 3px; overflow:hidden; width:100%; height:300px"></iframe>
</div>
<div class="hidden-sm hidden-md hidden-lg hidden-xl" style="width:100%;"><img style="width:100%;" src = "https://i.imgur.com/QWJUFbC.png"></div>

</div>

<div style="display: flex; flex-direction: row;">
    <span style="justify-content: flex-start;">
    <h4 style="font-size:1.6em ; margin-top: .5em; font-family:'Damion', 'cursive'">Just Arrived</h4>
  </span>
  <span style="justify-content: flex-end; align-self: center; float:right"><a href="/records/marketplace"style="color: black"><h4 style="font-size:1.6em ; margin-top: .5em; font-family:'Damion', 'cursive'">(All)</h4></a></span>
</div>

<div class="records-display">

<% @records.first(36).each do |record| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left:5px; padding-right:5px;">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class='imag myImg' style= "height: 100%; width: 100%;">
    <div class="overlay">
    </div>
   </div>
   <div class="row">
  <div class="card-body munch col-9" style="font-size:30px;">

  <p style="width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= record.artist %></p>
  <h2 style="width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  "><%= record.name %></h2>
  </div>
  <!-- <div class="col-3">
  <span style="display:flex; justify-content:flex-end;"><%= humanized_money_with_symbol(record.price_cents) %></span>
  </div> -->
  </div>
   </a>
  </div>
  <% end %>


</div>




</div>


