
<div class="main">
<div class="banner" style="background-image: linear-gradient(135deg, rgba(249,252,247,1) 0%,rgba(249,252,247,0.99) 1%,rgba(249,252,247,0.86) 25%,rgba(245,249,241,0.5) 93%,rgba(245,249,240,0.5) 100%), url('http://boltingbits.com/wp-content/uploads/2017/06/La-Rama-Records-Kris-Guilty-Montreal-Bolting-Bits-20-e1496884389522.jpg');">
  <div class="banner-content sweet" style="color:black ">
    <h1 style="font-size: 90px">La Rama</h1>



      <!--  <form action="#" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->
  </div>
</div>



<div class="records-display">

<% @records.each do |record| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left:5px; padding-right:5px;">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class=imag style= "height: 100%; width: 100%;">
    <div class="overlay">
       <img src="http://i.imgur.com/4bCsEu8.png" class='text' style="height: 75px; width: 75px;">
    </div>
   </div>
   <div class="row">
  <div class="card-body munch col-9" style="font-size:30px;">

  <p style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= record.artist %></p>
  <h2 style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  "><%= record.name %></h2>
  </div>
  <!-- <div class="col-3">
  <span style="display:flex; justify-content:flex-end;"><%= humanized_money_with_symbol(record.price_cents) %></span>
  </div> -->
  </div>
   </a>
  </div>
  <% end %>


</div>
<div style="display:flex; justify-content: flex-end; font-size: 30px; padding-right:48px;">
 <%= link_to 'More', marketplace_records_path %>
 </div>


<div class='row'>
<div class="col-xs-12 col-md-4" style="display:flex; align-self: center; padding-top:10px; padding-right:0px; padding-bottom:10px; padding-left: 50px;">
  <table>
    <tr>
    <td>Mon</td>
    <td>Th-Fr</td>
    <td>Sat</td>
    <td>Sun</td>
    </tr>
    <tr>
    <td>11-19</td>
    <td>11-21</td>
    <td>12-18</td>
    <td>12-17</td>
    </tr>

  </table>
</div>
<div class="col-xs-12 col-md-4 text-center" style="align-self:center;">
  <img src='https://www.deathofvinyl.com/wp-content/themes/deathofvinyl/images/logo.png?7c1580' class= "swanky spin" style="width:200px; height:200px;">
  <!-- <span > <img src='http://i.imgur.com/qlvaAjh.png' class="chicken"> </span> -->
</div>
<div class="col-xs-12 col-md-4" style="padding-top:10px; padding-right:50px; padding-bottom:10px; padding-left: 30px;">
<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 45.529546, lng: -73.606741};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          styles:[
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
],
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ8FSEJZuoR2AFyoXJ1EyFCspH89Ckxws&callback=initMap">
    </script></div>
</div>
</div>


