<div class="banner" style="background-image: linear-gradient(135deg, rgba(249,252,247,1) 0%,rgba(249,252,247,0.99) 1%,rgba(249,252,247,0.86) 25%,rgba(245,249,241,0.5) 93%,rgba(245,249,240,0.5) 100%), url('https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/18192505_224232428062435_4755197103422591302_o.jpg?oh=12606a3319e84caef2da05303027e6eb&oe=5A011FB8');">
  <div class="banner-content sweet" style="color:black ">
    <h1 style="font-size: 90px">La Rama</h1>



       <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> <% if @discogs.authenticated? %>
        <p><a href="/records/whoami">User information</a><p>
      <% else %>
        <a href="/users/auth/discogs">Authenticate Discogs.com account</a>
      <% end %>
  </div>
</div>



<div class="records-display">

<% @releases.each do |t| %>
  <div>
  <% @release_id = t.basic_information['id'] %>
 <a href='/records/<%=t.basic_information["id"]%>'>
  <div class='seletak'>

  <img src = '<%= t.basic_information["cover_image"] %>' class=imag style= "height: 250px; width: 250px;">
    <div class="overlay">
      <img src="http://i.imgur.com/7execdy.png" class='text' style="height: 75px; width: 75px;">
    </div>
   </div>
  <div class="card-body" style="font-size:30px;">
    <p><%= t.basic_information["artists"][0]["name"] %></p>
    <h2><%= t.basic_information["title"] %></h2>
  </div>
  </a>
  </div>
<% end %>
</div>


<strong>Releases</strong><%= @releases.count %>



<div class="text-center padded">
  <img src='https://www.deathofvinyl.com/wp-content/themes/deathofvinyl/images/logo.png?7c1580' class= "swanky spin">
  <!-- <span > <img src='http://i.imgur.com/qlvaAjh.png' class="chicken"> </span> -->
</div>




