
  <div class="main" style="margin-top:7.5em;">
<div style="margin-top:2.5em;">

<div style="border-radius:5px;" class="hidden-xs">
<iframe src="https://snapwidget.com/embed/459159" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border-radius: 3px; overflow:hidden; width:100%; height:300px"></iframe>
</div>
<div class="hidden-sm hidden-md hidden-lg hidden-xl" style="width:100%;"><img style="width:100%;" src = "https://i.imgur.com/QWJUFbC.png"></div>

</div>

<div class="just">
    <span style="justify-content: flex-start;">
    <h4 class="tagline">Just Arrived</h4>
  </span>
  <span style="float:right"><a href="/records/marketplace"style="color: black"><h4 class="tagline">(All)</h4></a></span>
</div>

<a href="/records/search">Click</a>

<div class="records-display">

<% @records.first(36).each do |record| %>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 disc">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>
  <img src = '<%= record.photo rescue nil%>' class="imag myImg" >
    <div class="overlay2">
       <div class='text yells'><%=record.genre%></div>
    </div>
   </div>
   <div class="row">
  <div class="infoo card-body munch col-9">
  <p><%= record.artist rescue nil%></p>
  <h2><%= record.name rescue nil%></h2>
  </div>
  </div>
   </a>
  </div>
  <% end %>
</div>
</div>
