
<div class="main">
<div class="banner" style="background-image: linear-gradient(135deg, rgba(249,252,247,.3) 0%,rgba(249,252,247,0.4) 1%,rgba(249,252,247,0.4) 25%,rgba(245,249,241,0.4) 50%,rgba(245,249,240,0.4) 50%), url('http://boltingbits.com/wp-content/uploads/2017/06/La-Rama-Records-Kris-Guilty-Montreal-Bolting-Bits-20-e1496884389522.jpg');">
  <div class="banner-content sweet" style="color:black ">
    <h1 style="font-size: 90px;  font-family:'Garamond';">La Rama</h1>



      <!--  <form action="#" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->
  </div>
</div>



<div class="records-display">

<% @records.each do |record| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left:5px; padding-right:5px;">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class=imag style= "height: 100%; width: 100%;">
    <div class="overlay">
       <img src="https://i.imgur.com/4bCsEu8.png" class='text' style="height: 75px; width: 75px;">
    </div>
   </div>
   <div class="row">
  <div class="card-body munch col-9" style="font-size:30px;">

  <p style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= record.artist %></p>
  <h2 style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  "><%= record.name %></h2>
  </div>
  <!-- <div class="col-3">
  <span style="display:flex; justify-content:flex-end;"><%= humanized_money_with_symbol(record.price_cents) %></span>
  </div> -->
  </div>
   </a>
  </div>
  <% end %>


</div>
<div style="display:flex; justify-content: flex-end; font-size: 30px; padding-right:48px;">
 <%= paginate @records %>
<!--  <%= link_to 'More', marketplace_records_path %> -->
 </div>



</div>


