<strong>Releases</strong><%= @releases.count %>


<div class="records-display">

<%= @releases.each do |t| %>
  <div>
  <div><img src = '<%= t.basic_information["cover_image"] %>'  style= "height: 200px; width: 200px;">
   </div>
  <div class="card-body" style="font-size:30px;">
    <p><%= t.basic_information["artists"][0]["name"] %></p>
    <h2><%= t.basic_information["title"] %></h2>



  </div>


  </div>



<% end %>
</div>
