<strong>Listings</strong><%= @listings.count %>




<div class="records-display">

<% @listings.each do |t| %>

  <div>
    <% @release_id = t.release["id"] %>
 <a href='/records/<%=@release_id%>'>
   <div class='seletak'>

  <img src = '<%= t.release["thumbnail"] %>' class=imag style= "height: 250px; width: 250px;">
    <div class="overlay">
       <img src="http://i.imgur.com/7execdy.png" class='text' style="height: 75px; width: 75px;">
    </div>
   </div>
  <div class="card-body munch" style="font-size:30px;">
  <p style="width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= t.release["description"] %></p>
  <h2><%= humanized_money_with_symbol(t.original_price['value']) %></h2>


  </div>
  </a>
  </div>
  <% end %>


</div>
