




<div class="main">
<div class="row tip">
    <div class="col-xs-12 col-sm-3" style="padding-left: 0px;">
    <div  class="categories">
      <div class="curls" style="font-size: 2.5em; padding-left: 10px;">All</div>
    <a class="sidebar" href="/records/disco">Disco</a>
    <br>
    <a class="sidebar" href="/records/soul">Soul</a>
    <br>
    <a class="sidebar" href="/records/techno">Techno</a>
    <br>
    <a class="sidebar" href="/records/house">House</a>
     <br>
    <a class="sidebar" href="/records/funk">Funk</a>
    <br>
    <a class="sidebar" href="/records/electro">Electro</a>
    <br>
    <a class="sidebar" href="/records/ambient">Ambient</a>
    <br>
    <a class="sidebar" href="/records/deephouse">Deep House</a>
    <br>
    <a class="sidebar" href="/records/experimental">Experimental</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9" style= "padding-top: 2vh;">
<div class="records-display" >

<div class="paginate" style="display:block; width:100%; color:black; margin-top: -25px;
    margin-left: 15px;"><%= paginate @records %></div>

<% @records.first(90).each do |record| %>
   <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 disc">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class="imag myImg" >
    <div class="overlay2">
       <div class='text yells'><%=humanized_money_with_symbol(record.price_cents)%></div>
    </div>
   </div>
   <div class="row">
  <div class="infoo card-body munch col-9">
  <p><%= record.artist rescue nil%></p>
  <h2><%= record.name rescue nil%></h2>
  </div>
  </div>
   </a>
  </div>
  <% end %>

  <div class="paginate" style="float:right; color:black; margin-right:10vw;"><%= paginate @records %></div>
</div>
</div>
<!--  <div style="text-align: center; font-size: 25px;">
</div> -->
</div>
</div>











<!--
 <div class="paginate" style="float:right; font-size: 25px; color:black; margin-right: 10vw; padding-right: 10px;">
<%= paginate @records %></div> -->
</div>
</body>
