<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <% if @record.photo? %>
            <div class="card" style="background-image: url(<%= cl_image_path(@record.photo.path) %>); height: 500px; width: 100%; ">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url(); height: 200px;">
            </div>
          <% end %>
      <h1><%= @record.name %></h1>
       <p>Artist: <%= @record.artist %></p>
       <p>Price: $<%= @record.price %></p>
       <p><%= @record.description %></p>
      </ul>
      <%= link_to 'Buy Record', new_record_order_path(@record) %>|
      <%= link_to 'Edit', edit_record_path(@record) %>|
      <%= link_to 'Back', records_path %>
    </div>
  </div>
</div>
