<div class="container">
  <div class="two_columns">
    <% if @record.photo? %>
      <div class="card" style="background-image: url(<%= cl_image_path(@record.photo.path) %>); height: 500px; width: 500px; ">
        </div>
      <% else %>
        <div class="card-header" style="background-image: url(); height: 200px;">
        </div>
      <% end %>
      <div class="card-contents" style = "top:50px; width:50vw">
        <h1><%= @record.name %></h1>
        <p>Artist: <%= @record.artist %></p>
        <p>$<%= @record.price %></p>
        <p><%= @record.description %></p>
        <div style="font-size:30px; padding:15px;">
          <%= link_to 'Rent Record', new_record_order_path(@record) %>|
          <%= link_to 'Edit', edit_record_path(@record) %>|
          <%= link_to 'Back', records_path %>
     </div>
  </div>
</div>
</div>
