<div class="container">
  <div class="two_columns">
    <% if @record.photo? %>
      <div class="card" style="background-image: url(<%= cl_image_path(@record.photo.path) %>); height: 500px; width: 500px; ">
        </div>
      <% else %>
        <div class="card-header" style="background-image: url(); height: 200px;">
        </div>
      <% end %>
      <div class="card-contents" style = "top:50px; width:50vw">
        <h1><%= @record.name %></h1>
        <p>Artist: <%= @record.artist %></p>
        <p>$<%= @record.price %></p>
        <p><%= @record.description %></p>
        <div style="font-size:30px; padding:15px;">
          <%= link_to 'Rent Record', new_record_order_path(@record) %>|
          <%= link_to 'Edit', edit_record_path(@record) %>|
          <%= link_to 'Back', records_path %>
        </div>
        <div>
        <%# simple_form_for(@record) do |f| %>
        <%# f.text_field :rental_date, as: :string, class: "datepicker", value: Date.today.strftime('%d/%m/%Y') %>
        <%# end %>
      </div>
     </div>
  </div>
</div>

<div id="map" style="width: 80%; height: 300px; margin:auto;">


<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
console.log(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();

if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
</div>
