<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <%= cl_image_tag @record.photo.path, height: 300, width: 400, crop: :fill %>
      <h1><%= @record.name %></h1>
       <p><%= @record.artist %></p>
        <p>$<%= @record.price %></p>
      </ul>
      <%= link_to 'Buy Record', new_order_path(@record) %>|
      <%= link_to 'Edit', edit_record_path(@record) %>|
      <%= link_to 'Back', records_path %>
    </div>
  </div>
</div>
