<body style="background-color:#e9eae7">
<div class="container2">

  <div class="row" style="background-color: white; border-radius: 5px;">
      <div class="card col-xs-12 col-sm-4" style="margin-left:0px; margin-right:0px; margin-top:15px; margin-bottom:0px;">


          <div id="player" style="height:35vh;">
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '',
          width: '125',
          playerVars: {
            color: 'white',
            // playlist: 'taJ60kskkns,FG0fTKAqZ5g'
          },
          videoId:  '<%= @record.youtubeid.partition('=').last rescue nil%>',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      // function stopVideo() {
      //   player.stopVideo();
      // }
    </script>
</div>

       <!--  <img  class="myImg" id="myImg" src= '<%= @record.photo rescue nil%>' style= "height: 100%; width: 100%;  margin-bottom: 10px;" > -->

          <div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" style="border-radius: 10px;">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

    </div>

      <div class="card-contents col-xs-12 col-sm-4" style = "display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;">
    <div style="" width:100%; border-radius:5px;">
        <h1 style="padding-top: 5px;"><%= @record.name rescue nil%></h1>
        <p>Artist: <%= @record.artist rescue nil%></p>
        <p>Label: <%= @record.label rescue nil%></p>
        <p>Catno: <%= @record.catno rescue nil%></p>
        <p>Country: <%= @record.country rescue nil %></p>
        <p>Genre: <%= @record.genre  rescue nil%></p>
        <p>Year: <%= @record.year rescue nil%></p>
              <div class="row">
                <div class="col-xs-6" style="font-size:40px; padding-left:0px"> <%= humanized_money_with_symbol(@record.price_cents) rescue nil %>
                  </div>
                <div class="col-xs-6">
              <%= form_tag crate_records_path do %>
                        <%= hidden_field_tag 'record_id', @record.id rescue nil%>
                        <%= submit_tag 'Add to Cart', class: 'btn btn-cool' %>
                      <% end %>
                </div>
                </div>
     </div>
   </div>

<div class="card-contents col-xs-12 col-sm-3 col-lg-4" style = "display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:10px; ">
         <table style="margin-top:21px; width: 100%; word-wrap:break-word;
              table-layout: fixed; display: block;
    overflow-y: scroll; overflow:auto;
    height: 30vh;">
              <% reality = @discogs.get_release(@record.release_id) rescue nil%>



            <% reality["tracklist"].each do |track|%>
          <tr style="font-size:1.2em;">

            <td>
              <%= track["position"] rescue nil %>
            </td>
             <td>
              <%= track["title"] rescue nil %>
            </td>


          </tr>
              <% end %>

        </table>





     <!-- <div class="col-xs-12 col-sm-8" id="player"></div>
 -->

  </div>

  <div class="recommend"><h4 style="font-size:1.6em ; font-family:'Damion', 'cursive'">We Also Recommend</h4></div>
  <div class="records-display recom">


<% found = Record.where(genre: @record.genre).take(12) rescue nil%>


<% found.each do |record| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left:5px; padding-right:5px;">
  <a href='/records/<%=record.id%>'>
   <div class='seletak'>

  <img src = '<%= record.photo rescue nil%>' class="imag myImg" style= "height: 100%; width: 100%;">
    <div class="overlay2">
        <div class='text yells' style="height: 20px; width: 100px; opacity:1; font-size: 1em; display:flex; flex-direction: row; justify-content: center; align-items: flex-end;"><%=humanized_money_with_symbol(record.price_cents)%></div>
    </div>
   </div>
   <div class="row">
  <div class="card-body munch col-9" style="font-size:30px;">

  <p style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;"><%= record.artist rescue nil%></p>
  <h2 style="width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  "><%= record.name rescue nil%></h2>
  </div>
  <!-- <div class="col-3">
  <span style="display:flex; justify-content:flex-end;"><%= humanized_money_with_symbol(record.price_cents) %></span>
  </div> -->
  </div>
   </a>
  </div>
  <% end %>


</div>
</div>

</body>
