<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @record.name %></h1>
      <ul>
        <% @records.each do |record| %>
          <li><%= dose.description %> | <%= record.ingredient.name %> | <%= link_to 'Delete', record_path(record), method: :delete %></li>
        <% end %>
      </ul>
      <%= cl_image_tag record.photo.path, width: 200, height: 300, crop: :fill %>
      <%= link_to 'Add To Recipe', new_cocktail_dose_path(@cocktail) %>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
