<div class="container">
<h1>Your Cart: <%= pluralize @orders.size, "item" %></h1>
  <div class="row">

  <table class="cart-list" style= "width: 90%">
    <tbody>
        <% grand = [] %>
        <% orderids = [] %>
    <% @orders.each do |order| %>
      <tr>
          <div>
          <a href='/records/<%=order.record_id%>'>
      <td style="padding: 9px;"> <img src="<%=order.image %>" style=  "height: 75px; width: 75px;">
        </td>
        <td class="details" style= "font-size: 25px;">
            <%= order.description %>
            <% orderids << order.id %>

        </td>
        </a>
        </div>
        <td class="quantity" style="font-size: 25px;">
          <%= humanized_money_with_symbol(order.amount_cents) %>
          <% @price = (order.amount_cents) %>
          <% grand << @price %>
        </td>
        <td class="total">

        </td>
         <td>

          <%= link_to 'Delete', order_path(order), method: :delete  %>
          <%= link_to 'Checkout', new_order_payment_path(order)%>
         </td>
      </tr>

    <% end %>

      </tbody>
  </table>
  </div>
  <div style= "display:flex; justify-content: flex-end; font-size: 30px;">
   total: <% sum = 0 %>
   $<%=  grand.inject(0){|sum, x| sum + x } %>
   </div>
  <br>


 <%= link_to 'Checkout', new_order_payment_path(@orders)%>
 <br>
  <%= link_to 'Back to Records', records_path %>

</div>


