<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
            <div class="card-header" style="background-image: url(<%= cl_image_path(order.record.photo) %>); height: 200px;">
            </div>
          <div class="card-body">
            <h1><%= order.record.name %></h1>
            <p>Artist: <%= order.record.artist %></p>
            <p>Price: $<%= order.record.price %></p>
            <p>Buyer: <%= current_user %></p>
            <p>Ordered: <%= order.created_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


