<div class="container">
<h1>Your Cart: <%= pluralize @orders.size, "item" %></h1>
  <div class="row">

  <table class="cart-list" style= "width: 90%">
    <tbody>

    <% @orders.each do |order| %>
      <tr>
          <div>
          <a href='/records/<%=order.record_id%>'>
      <td style="padding: 9px;"> <img src="<%=order.image %>" style=  "height: 75px; width: 75px;">
        </td>
        <td class="details" style= "font-size: 25px;">
            <%= order.description %>
        </td>
        </a>
        </div>
        <td class="quantity" style="font-size: 25px;">
          <%= humanized_money_with_symbol(order.amount_cents) %>
        </td>
        <td class="total">

        </td>
         <td>

          <%= link_to 'Delete', order_path(order), method: :delete  %>
         </td>
      </tr>

    <% end %>

      </tbody>
  </table>
  </div>
   total:
  <br>
 <%= link_to 'Checkout', new_order_payment_path(@orders)%>
 <br>
  <%= link_to 'Back to Records', records_path %>

</div>


