<div class="container">
<h1>Your Cart: <%= pluralize @orders.size, "item" %></h1>
  <div class="row">

  <table class="cart-list">
    <tbody>

    <% @orders.each do |order| %>
      <tr>

       <td class="photo" style="background-image: url(<%= @release["images"][0]['uri'] %>); ">
        </td>
        <td class="details">
          <%= @release['title'] %> by <%= @release['artist'] %>
        </td>
        <td class="quantity">
          <!-- quantity: <%= order.quantity %> -->
          <input type="text" size="4" value="<%= order.amount%>">
        </td>
        <td class="total">
       <!--   $<%= order.record.price %> -->
        </td>
         <td><%= link_to 'Delete', order_path(order), method: :delete  %>
         </td>
      </tr>
      <%= link_to 'Buy', new_order_payment_path(order)%>
    <% end %>

      </tbody>
  </table>
  </div>
   total:
  <br>

  <%= link_to 'Back to Records', records_path %>

</div>


