<div class="container">
<h1>Your Cart: <%= pluralize @orders.size, "item" %></h1>
  <div class="row">
  <p>Buyer: <%= current_user.first_name %></p>
  <table class="cart-list">
    <tbody>

    <% @orders.each do |order| %>
      <tr>

       <td class="photo" style="background-image: url(<%= cl_image_path(order.record.photo.path) %>); ">
        </td>
        <td class="details">
          <%= order.record.name %> by <%= order.record.artist %>
        </td>
        <td class="quantity">
          <!-- quantity: <%= order.quantity %> -->
          <input type="text" size="4" value="1"
        </td>
        <td class="total">
         $<%= order.record.price %>
        </td>
         <td><%= link_to 'Delete', order_path(order), method: :delete  %>
         </td>
      </tr>
    <% end %>

      </tbody>
  </table>
  </div>
   total:
  <br>

  <%= link_to 'Back to Records', records_path %>

</div>


