<div class="container">
<h1>Your Cart: <%= pluralize @orders.size, "item" %></h1>
  <div class="row">

  <table class="cart-list">
    <tbody>

    <% @orders.each do |order| %>
      <tr>

      <td style="padding: 9px;"> <img src="<%=order.image %>" style=  "height: 75px; width: 75px;">
        </td>
        <td class="details">

        </td>
        <td class="quantity">

          <input type="text" size="4" value="<%= order.amount_cents%>">
        </td>
        <td class="total">

        </td>
         <td>
          <%= link_to 'Buy', new_order_payment_path(order)%>
          <%= link_to 'Delete', order_path(order), method: :delete  %>
         </td>
      </tr>

    <% end %>

      </tbody>
  </table>
  </div>
   total:
  <br>

  <%= link_to 'Back to Records', records_path %>

</div>


