
<%= simple_form_for [@record, @order] do |f| %>
  <%= cl_image_tag @record.photo.path, height: 150, width: 150, crop: :fill %>
  <h2>id:<%= @record.id %></h2>
  <h2>Title: <%= @record.name %></h2>
  <h2>Artist: <%= @record.artist %></h2>
  <h2>Price: $<%= @record.price %></h2>
  <%= f.submit "place order", class: "btn btn-primary" %>
<% end %>
